{
"./project_euler/ebin",
["./common/ebin"],
[
problem_001,
problem_002,
problem_003,
problem_004,
problem_006,
problem_007,
problem_008,
problem_010,
problem_011,
problem_012,
problem_013,
problem_014,
problem_015,
problem_016,
problem_017,
problem_018_067,
problem_019,
problem_020,
problem_021,
problem_022,
problem_023,
problem_024,
problem_025,
problem_026,
problem_027,
problem_028,
problem_029,
problem_030,
problem_031,
problem_032,
problem_033,
problem_034,
problem_035,
problem_036,
problem_037,
problem_038,
problem_039,
problem_040,
problem_041,
problem_042,
problem_043,
problem_045,
problem_046,
problem_047,
problem_048,
problem_049,
problem_051,
problem_052,
problem_053,
problem_054,
problem_055,
problem_056,
problem_057,
problem_058,
problem_059,
problem_060,
problem_061,
problem_062,
problem_064,
problem_065,
problem_066,
problem_068,
problem_069,
problem_070,
problem_071,
problem_072,
problem_073,
problem_074,
problem_076,
problem_080,
problem_081,
problem_082,
problem_083,
problem_085,
problem_087,
problem_089,
problem_091,
problem_092,
problem_093,
problem_094,
problem_095,
problem_096,
problem_097,
problem_098,
problem_099,
problem_100,
problem_102,
problem_104,
problem_112,
problem_144,
problem_187,
problem_205,
problem_206
]
}.